@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600);

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Fira Sans", "Helvetica Neue", "Apple Color Emoji", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #363642;
  text-align: left;
  background-color: #f6f7f9;
}

fa-icon{
  padding-right:5px;
}

.full-width {
  width: 100%;
}


//MATERIAL
.mat-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  background-size:cover;
}
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #2b5a92;
}



