<div class="page-inner page-inner-fill position-relative">
  <header class="page-navs bg-light shadow-sm">
    <!-- .input-group -->
    <div class="input-group has-clearable">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button> <label class="input-group-prepend" for="searchClients"><span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span></label> <input type="text" class="form-control" id="searchClients" data-filter=".board .list-group-item" placeholder="Find clients">
    </div><!-- /.input-group -->
  </header>
  <button type="button" class="btn btn-primary btn-floated position-absolute" data-toggle="modal" data-target="#createClientModal" title="Add new client"><i class="fa fa-plus"></i></button> <!-- board -->
  <div class="board p-0 perfect-scrollbar ps ps--active-y">
    <!-- .list-group -->
    <div class="list-group list-group-flush list-group-divider border-top" data-toggle="radiolist">
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-blue"> Z </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Zathunicon, Inc. </h4>
          <p class="list-group-item-text"> San Francisco, United States </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-indigo"> F </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Faxquote </h4>
          <p class="list-group-item-text"> Pekalongan, Indonesia </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-purple"> O </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Opentech </h4>
          <p class="list-group-item-text"> Los Angeles, United States </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item active" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-pink"> C </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Codehow </h4>
          <p class="list-group-item-text"> Mexico City, Mexico </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-red"> R </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Ron-tech </h4>
          <p class="list-group-item-text"> Pekalongan, Indonesia </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-orange"> G </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Groovestreet </h4>
          <p class="list-group-item-text"> London, United Kingdom </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-yellow"> B </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Bioplex et Chandon </h4>
          <p class="list-group-item-text"> Hyderabad, India </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-green"> S </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Streethex </h4>
          <p class="list-group-item-text"> Mexico City, Mexico </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-teal"> H </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Hottechi Motor Company, Ltd </h4>
          <p class="list-group-item-text"> Jakarta, Indonesia </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-cyan"> N </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Newex </h4>
          <p class="list-group-item-text"> Tokyo, Japan </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-blue"> F </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Finjob </h4>
          <p class="list-group-item-text"> Paris, France </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-indigo"> S </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Sonron, Inc. </h4>
          <p class="list-group-item-text"> Beijing, China </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-purple"> D </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Doncon </h4>
          <p class="list-group-item-text"> Delhi, India </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-pink"> C </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> Conecom </h4>
          <p class="list-group-item-text"> São Paulo, Brazil </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
      <!-- .list-group-item -->
      <a href="#" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
        <!-- .list-group-item-figure -->
        <div class="list-group-item-figure">
          <div class="tile tile-circle bg-red"> J </div>
        </div><!-- /.list-group-item-figure -->
        <!-- .list-group-item-body -->
        <div class="list-group-item-body">
          <h4 class="list-group-item-title"> J-Texon Systems, Inc. </h4>
          <p class="list-group-item-text"> New York City, United States </p>
        </div><!-- /.list-group-item-body -->
      </a> <!-- /.list-group-item -->
    </div><!-- /.list-group -->
    <!-- spinner -->
    <div class="p-3 text-center bg-white">
      <div class="spinner-border spinner-border-sm text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div><!-- /spinner -->
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 610px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 362px;"></div></div>
  </div><!-- /board -->
</div>