<aside class="app-aside app-aside-light app-aside-expand-md">
  <!-- .aside-content -->
  <div class="aside-content">
    <!-- .aside-header -->
    <header class="aside-header d-block d-md-none">
      <!-- .btn-account -->
      <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
        <span class="user-avatar user-avatar-lg">
          <img src="images/temp//avatars/profile.jpg" alt="">
        </span>
        <span class="account-icon">
          <span class="fa fa-caret-down fa-lg"></span>
        </span>
        <span class="account-summary">
          <span class="account-name">John Doe</span>
          <span class="account-description">@@johndoe</span>
        </span>
      </button>
      <!-- /.btn-account -->
      <!-- .dropdown-aside -->
      <div id="dropdown-aside" class="dropdown-aside collapse">
        <!-- dropdown-items -->
        <div class="pb-3">
          <a class="dropdown-item" href="#"><span class="dropdown-icon oi oi-person"></span> Profile</a>
          <a class="dropdown-item" href="#"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Help Center</a>
          <a class="dropdown-item" href="#">Ask Forum</a>
          <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
        </div>
        <!-- /dropdown-items -->
      </div>
      <!-- /.dropdown-aside -->
    </header>
    <!-- /.aside-header -->
    <!-- .aside-menu -->
    <section class="aside-menu perfect-scrollbar">
      <!-- .stacked-menu -->
      <nav id="stacked-menu" class="stacked-menu">
        <!-- .menu -->
        <ul class="menu">
          <!--<li class="menu-header">Menus</li>-->
          <!-- .menu-item -->
          <li class="menu-item">
            <!-- .menu-link -->
            <a asp-controller="Home" asp-action="Index" class="menu-link">
              <span class="menu-icon oi oi-home"></span>
              <span class="menu-text">Home</span>
            </a>
            <!-- /.menu-link -->
          </li>

          <!-- Clients -->
          <li class="menu-item">
            <a asp-controller="Clients" asp-action="Index" class="menu-link">
              <span class="menu-icon oi oi-list"></span>
              <span class="menu-text">Clients</span>
            </a>
          </li>

          <!-- Chat -->
          <li class="menu-item">
            <a asp-controller="Chat" asp-action="Index" class="menu-link">
              <span class="menu-icon oi oi-chat"></span>
              <span class="menu-text">Chat</span>
            </a>
          </li>


        </ul>
        <!-- /.menu -->
      </nav>
      <!-- /.stacked-menu -->
    </section>
    <!-- /.aside-menu -->
  </div>
  <!-- /.aside-content -->
</aside>