<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>@ViewData["Title"] - FCM.WebApp</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">

  <!-- BEGIN PLUGINS STYLES -->
  <link href="~/css/open-iconic/css/open-iconic-bootstrap.css" rel="stylesheet" />
  <link href="~/css/fontawesome/css/all.css" rel="stylesheet" />
  <!-- END PLUGINS STYLES -->
  <!-- BEGIN THEME STYLES -->
  <link rel="stylesheet" href="~/css/theme.min.css" data-skin="default">
  <link rel="stylesheet" href="~/css/theme-dark.min.css" data-skin="dark">
  <link rel="stylesheet" href="~/css/custom.css">
  <!-- Disable unused skin immediately -->
  <script>
    var skin = localStorage.getItem('skin') || 'default';
    var unusedLink = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');

    unusedLink.setAttribute('rel', '');
    unusedLink.setAttribute('disabled', true);
  </script>
  <!-- END THEME STYLES -->
  <!-- BEGIN PAGE LEVEL STYLES -->
  <!-- END PAGE LEVEL STYLES -->
</head>
<body>
  <div class="app">
    <partial name="_Header" />
    <partial name="_Aside" />

    <!-- .app-main -->
    <main class="app-main">
      <!-- .wrapper -->
      <div class="wrapper">
        @RenderBody()
      </div>
      <!-- /.wrapper -->
    </main>
    <!-- /.app-main -->

  </div>

  <!-- BEGIN BASE JS -->
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/bootstrap/dist/js/popper.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <!-- END BASE JS -->
  <!-- BEGIN PLUGINS JS -->
  <script src="~/lib/stacked-menu/stacked-menu.js"></script>
  <script src="~/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <!-- END PLUGINS JS -->
  <!-- BEGIN THEME JS -->
  <script src="~/js/theme.min.js"></script>
  <!-- END THEME JS -->
  <!-- BEGIN PAGE LEVEL JS -->
  <!-- your js for specific page goes here -->
  <!-- END PAGE LEVEL JS -->
  @RenderSection("Scripts", required: false)
</body>
</html>
