<div class="page">
  <div class="page-inner">
    <header class="page-title-bar">
      <h1 class="page-title">Messages</h1>
    </header>
    <div class="page-section">

      @{
        ViewData["Title"] = "Messages";
      }

      <div class="page-section">
        <!-- .card -->
        <div class="card">
          <!-- .list-group-messages -->
          <div class="list-group list-group-messages list-group-flush list-group-bordered">
            <!-- message item -->
            <div class="list-group-item unread">
              <!-- message figure -->
              <div class="list-group-item-figure">
                <span class="rating rating-sm mr-3"><input type="checkbox" id="star1" value="1"> <label for="star1"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
                <div class="avatar has-badge">
                  <a href="page-conversations.html" class="user-avatar"><img src="assets/images/avatars/team2.png" alt=""></a> <span class="tile tile-xs tile-circle bg-red">2</span>
                </div><!-- /.avatar -->
              </div><!-- /message figure -->
              <!-- message body -->
              <div class="list-group-item-body pl-md-2">
                <!-- grid row -->
                <div class="row">
                  <!-- grid column -->
                  <div class="col-12 col-lg-3 d-none d-lg-block">
                    <h4 class="list-group-item-title text-truncate">
                      <a href="page-conversations.html">Creative Division</a>
                    </h4>
                    <p class="list-group-item-text"> 16 minutes ago </p>
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-12 col-lg-9">
                    <h4 class="list-group-item-title text-truncate">
                      <a href="page-conversations.html">Our trip to Montreal</a>
                    </h4>
                    <p class="list-group-item-text text-truncate"> Hi Guys, minus, aliquam porro repudiandae numquam. Molestias. </p>
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-12 d-lg-none">
                    <p class="list-group-item-text"> 16 minutes ago </p>
                  </div><!-- /grid column -->
                </div><!-- /grid row -->
              </div><!-- /message body -->
              <!-- message actions -->
              <div class="list-group-item-figure">
                <!-- .dropdown -->
                <div class="dropdown">
                  <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                  <div class="dropdown-arrow"></div><!-- .dropdown-menu -->
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
                  </div><!-- /.dropdown-menu -->
                </div><!-- /.dropdown -->
              </div><!-- /message actions -->
            </div><!-- /message item -->
            <!-- message item -->
            <div class="list-group-item unread">
              <!-- message figure -->
              <div class="list-group-item-figure">
                <span class="rating rating-sm mr-3"><input type="checkbox" id="star2" value="1"> <label for="star2"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
                <div class="avatar has-badge">
                  <a href="page-conversations.html" class="tile tile-circle bg-teal">GD</a> <span class="tile tile-xs tile-circle bg-red">1</span>
                </div><!-- /.avatar -->
              </div><!-- /message figure -->
              <!-- message body -->
              <div class="list-group-item-body pl-md-2">
                <!-- grid row -->
                <div class="row">
                  <!-- grid column -->
                  <div class="col-12 col-lg-3 d-none d-lg-block">
                    <h4 class="list-group-item-title text-truncate">
                      <a href="page-conversations.html">Gold Dex</a>
                    </h4>
                    <p class="list-group-item-text"> 53 minutes ago </p>
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-12 col-lg-9">
                    <h4 class="list-group-item-title text-truncate">
                      <a href="page-conversations.html">We are subscribed to local deals in Amsterdam</a>
                    </h4>
                    <p class="list-group-item-text text-truncate"> Anyone please confirm this info, eligendi, quam possimus aliquid iste repellendus. </p>
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-12 d-lg-none">
                    <p class="list-group-item-text"> 53 minutes ago </p>
                  </div><!-- /grid column -->
                </div><!-- /grid row -->
              </div><!-- /message body -->
              <!-- message actions -->
              <div class="list-group-item-figure">
                <!-- .dropdown -->
                <div class="dropdown">
                  <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                  <div class="dropdown-arrow"></div><!-- .dropdown-menu -->
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
                  </div><!-- /.dropdown-menu -->
                </div><!-- /.dropdown -->
              </div><!-- /message actions -->
            </div><!-- /message item -->
            <!-- message item -->
            <div class="list-group-item unread">
              <!-- message figure -->
              <div class="list-group-item-figure">
                <span class="rating rating-sm mr-3"><input type="checkbox" id="star3" value="1" checked=""> <label for="star3"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
                <div class="avatar has-badge">
                  <a href="page-conversations.html" class="user-avatar"><img src="assets/images/avatars/team1.jpg" alt=""></a> <span class="tile tile-xs tile-circle bg-red">4</span>
                </div><!-- /.avatar -->
              </div><!-- /message figure -->
              <!-- message body -->
              <div class="list-group-item-body pl-md-2">
                <!-- grid row -->
                <div class="row">
                  <!-- grid column -->
                  <div class="col-12 col-lg-3 d-none d-lg-block">
                    <h4 class="list-group-item-title text-truncate">
                      <a href="page-conversations.html">Stilearning</a>
                    </h4>
                    <p class="list-group-item-text"> 2 hours ago </p>
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-12 col-lg-9">
                    <h4 class="list-group-item-title text-truncate">
                      <a href="page-conversations.html">Invitation: Joe's Dinner @@ Fri Aug 22</a>
                    </h4>
                    <p class="list-group-item-text text-truncate"> Sorry, I can't aspernatur debitis explicabo expedita eos, consequatur. </p>
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-12 d-lg-none">
                    <p class="list-group-item-text"> 2 hours ago </p>
                  </div><!-- /grid column -->
                </div><!-- /grid row -->
              </div><!-- /message body -->
              <!-- message actions -->
              <div class="list-group-item-figure">
                <!-- .dropdown -->
                <div class="dropdown">
                  <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                  <div class="dropdown-arrow"></div><!-- .dropdown-menu -->
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
                  </div><!-- /.dropdown-menu -->
                </div><!-- /.dropdown -->
              </div><!-- /message actions -->
            </div><!-- /message item -->
            <!-- message item -->
            <div class="list-group-item read">
              <!-- message figure -->
              <div class="list-group-item-figure">
                <span class="rating rating-sm mr-3"><input type="checkbox" id="star4" value="1"> <label for="star4"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
                <div class="avatar">
                  <a href="page-conversations.html" class="user-avatar"><img src="assets/images/avatars/team3.png" alt=""></a>
                </div><!-- /.avatar -->
              </div><!-- /message figure -->
              <!-- message body -->
              <div class="list-group-item-body pl-md-2">
                <!-- grid row -->
                <div class="row">
                  <!-- grid column -->
                  <div class="col-12 col-lg-3 d-none d-lg-block">
                    <h4 class="list-group-item-title text-truncate">
                      <a href="page-conversations.html">Openlane</a>
                    </h4>
                    <p class="list-group-item-text"> 23 hours ago </p>
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-12 col-lg-9">
                    <h4 class="list-group-item-title text-truncate">
                      <a href="page-conversations.html">Final reminder: Upgrade to Pro</a>
                    </h4>
                    <p class="list-group-item-text text-truncate"> Follow up this reminder asap, quam error praesentium asperiores a quidem. </p>
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-12 d-lg-none">
                    <p class="list-group-item-text"> 23 hours ago </p>
                  </div><!-- /grid column -->
                </div><!-- /grid row -->
              </div><!-- /message body -->
              <!-- message actions -->
              <div class="list-group-item-figure">
                <!-- .dropdown -->
                <div class="dropdown">
                  <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                  <div class="dropdown-arrow"></div><!-- .dropdown-menu -->
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
                  </div><!-- /.dropdown-menu -->
                </div><!-- /.dropdown -->
              </div><!-- /message actions -->
            </div><!-- /message item -->
           
          </div><!-- /.list-group-messages -->
        </div><!-- /.card -->
        <partial name="_Pagination" />
      </div>





    </div>
  </div>
</div>